@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: '10px';
}

::-webkit-scrollbar-track {
  background: rgba(50, 6, 61, 0.41);
}

::-webkit-scrollbar-thumb {
  background: #350b3d;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2b2a2a;
}
